<style>
    .potato {
        width: 1500px;
        height: 500px;
    }
    img{

    }
</style>
<div class="potato">
    <div style="display: block; width: 100px; margin: 0 auto; ">PIDAL</div>
</div>
<script>
    var image = document.getElementsByClassName('user-cover-image')[0];
    var imageHeight = image.clientHeight;
    var imageWidth = image.clientWidth;
    if (imageHeight > imageWidth) {
        image.style.width = "100%";
    } else {
        image.style.height = "100%";
    }
</script>