<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<style>
    .fb-profile img.fb-image-lg {
        z-index: 0;
        margin-bottom: 10px;
    }

    .fb-image-profile {
        margin: -90px 10px 0px 50px;
        z-index: 9;
        max-width: 230px;
        max-height: 210px;
    }

    .fb-profile {
        border: 1px solid black;
        width: 1250px;
        height: 500px;
    }

    .fb-profile .user-cover-image {
        display: block;
        max-width: 1250px;
        max-height: 500px;
    }

    .profile-preview {
        margin-bottom: 150px;;
    }

    .fb-profile h1 {
        position: relative;
        top: -100px;
        left: 300px;
    }
</style>
<ng-include src="'templates/header.html'"></ng-include>
<div ng-controller="userPageController">
    <ng-include src="'templates/user-profile.html'"></ng-include>
    <div ng-controller="friendBoxController">
        <div class="friends-list-container">
            <div class="row">
                <div ng-repeat="friend in friends">
                    <ng-include src="'templates/friendbox-user-preview.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-offset-2">
        <div class="post-container" ng-repeat="post in feed">
            <ng-include src="'templates/post-view-template.html'"></ng-include>
        </div>
    </div>
</div>

