<style>
    .friends-list-container{

    }
</style>
<ng-include src="'templates/header.html'"></ng-include>
<div ng-controller="userPageController">
    <ng-include src="'templates/user-profile.html'"></ng-include>
    <div class="post-on-wall" ng-show="user.isFriend || user.username == currentUserUsername">
        <textarea ng-model="postContent" cols="75" rows="6"></textarea>
        <div ng-click="post()" class="btn like-btn post-btn">POST</div>
    </div>
    <div class="friends-list-container" ng-controller="friendsController">
        <div class="row">
            <div style="text-align: center;" ng-if="!user.isFriend && user.username != currentUserUsername">
                This user is not your friend. So you cant see his friends for some reason?<br/>
                Blame the devs or use the search option above and find more friends!<br/>
                <a ng-if="!user.hasPendingRequest" ng-click="sendFriendRequest()">Send Friend Request</a>
                <span style="font-size: 1.2em;" ng-if="user.hasPendingRequest">Friend Request Pending</span>
            </div>
            <div ng-if="user.isFriend || user.username == currentUserUsername">
                <div style="border-bottom: 2px solid black; margin-right: 3px; text-align: center;">
                    <a href="#/users/{{user.username}}/friends">{{user.name}}'s Friends - {{(friendsCount)}}</a>
                </div>
                <div ng-repeat="friend in friends">
                    <ng-include src="'templates/friendbox-user-preview.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-offset-2">
        <div ng-if="feed.length > 0">
            <div class="post-container" ng-repeat="post in feed">
                <ng-include src="'templates/post-view-template.html'"></ng-include>
            </div>
            <ng-include src="'templates/post-view-footer.html'"></ng-include>
        </div>
    </div>
</div>
