@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

body {
    padding-top: 75px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}

.user-profile-picture {
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-top: 5px;
}

.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}

.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}

.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}

.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}

.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}

.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}

.panel-google-plus > .panel-heading > img, .row > .panel-heading > img {
    margin-right: 15px;
}

.panel-google-plus > .panel-heading > h3, .panel-heading > h4 {
    display: inline;
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}

.panel-heading > h4 {
    color: #fFF;
}

.panel-google-plus > .panel-heading > h5, div > h4 > span {
    display: inline-block;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}

.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
    overflow-y: auto;
}

.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}

.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}

.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    background: white;
    width: 70%;
}

.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}

.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}

.panel-google-plus .btn {
    border-radius: 3px;
}

.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}

.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.slide-carousel .carousel-indicators li {
    border-radius: 0;
    width: 20px;
    height: 6px;
}

.slide-carousel .carousel-indicators .active {
    margin: 1px;
}

.slide-content h4 {
    margin-bottom: 3px;
    margin-top: 0;
}

.panel-body {
    width: 100%;
    /*max-height: 150px;*/
}

.panel-body > p {
    text-align: center;
}

.post-container {
    width: 1250px;
}

.userPicture > img {
    width: 100%;
}

.preview {
    display: block;
    height: 150px;
}

li > img {
    vertical-align: middle;
    max-width: 50px;
    max-height: 50px;
}

.dropdown > ul > li > a > img {
    max-width: 50px;
    max-height: 50px;
}

.comment-container {
    width: 100%;
    margin: 0 0 0 auto;
    background: #f6f6f6;
    height: 45px;
}

.comments > div > p {
    vertical-align: middle;
    background: #e8e8e8;
    border: 1px solid #e5e5e5;
    padding-bottom: 15px;
    padding-top: 15px;
}

.comment-container > div > .panel-heading > h4 {
    display: inline-block;
}

.comments .panel-heading {
    background: #292929;
}

.comments p {
    margin: 0;
}

p.panel-content {
    align-content: center;
    vertical-align: middle;
    background: #e8e8e8;
    border: 5px solid #e7e7e7;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.comments > .like-btn, .comments > .unlike-btn, .comments > .edit-btn, .comments > .delete-btn {
    float: right;
    max-width: 60px;
    position: relative;
    top: -100px;
    margin-right: 5px;
}

.panel-heading > span.likes-count {
    position: absolute;
    top: 25px;
    left: 420px;
}

.comments .likes-count {
    position: relative;
    right: -490px;
    top: -25px;
    color: rgb(153, 153, 153);

}

.post-likes-count, .post-comments-count {

    color: rgb(153, 153, 153);
}

.like-btn {
    background: #50cf38;
}

.unlike-btn {
    background: #ff863a;
}

.edit-btn {
    background: #c1ac3e
}

.delete-btn {
    background: #f44139;
}

.post-container .panel-footer {
    background: #5f6ac8;
}

.post-type {
    float: right;
    color: #aaaaaa;
}

.comment-author-profile-picture {
    position: relative;
    top: -5px;
    left: -5px;
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
    border: 2px solid white;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #284c79;
    color: rgb(136, 172, 217);
    width: 100%;
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}

.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 1;
    height: 100%;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 30, 0.8);
}

.friends-list-container .col-sm-2 {
    padding: 0;
    width: 175px;
    height: 150px;;
    margin-left: 5px;
}

.friends-list-container .row {
    align-items: center;
    width: 550px;
    margin: 0 auto;
}

.friends-list-container {
    float: right;
    margin-right: 50px;
    padding-top: 5px;
    border: 2px solid black;
    width: 550px;
}

.friendbox-friend-name, .comment-heading, ul.find-friends > li > a > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.find-friends > li > a > span {
    display: inline-block;
    width: 115px;
}

.comment-heading {
    max-width: 420px;
}

.friends-list-container a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.card .content {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.panel {
    border: 2px solid black;
}

.panel-heading .img-circle {
    max-width: 45px;
}

.panel > .panel-heading {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.edit-box {
    display: none;
}

.edit-box textarea {
    resize: none;
}

p.panel-content.edit-box > span.save-edit.btn.like-btn {
    top: -25px;
}

.post .img-circle {
    border: 2px solid black;
}

.post > .panel-heading > .btn {
    float: right;
    margin-right: 5px;
}

.welcome-view section {
    display: inline-block;;
    padding-top: 50px display : inline;
}

.welcome-view section h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.welcome-view section .form-group {
    margin-bottom: 25px;
}

.welcome-view .form-control {
    color: #212121;
}

.welcome-view .btn-custom {
    color: #fff;
    background-color: #1fa67b;
}

.welcome-view .btn-custom:hover,
.welcome-view .btn-custom:focus {
    color: #fff;
}

.welcome-view section .container {
    width: 500px;
}

.welcome-view section {
    vertical-align: top;
}

.welcome-view .or {
    display: inline-block;
    font-size: 50px;
    margin-top: 50px;
}

.welcome-view {
    width: 100%;
    height: 100%;
}

.welcome-view > div {
    width: 1100px;
    margin: 0 auto;
}

.welcome-view h1 {
    margin: 50px auto 0 auto;
    width: 330px;
}

.welcome-view #radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

.input-group, #radioBtn {
    width: 100%;
}

.welcome-view #radioBtn > a {
    width: 33%;
}

.save-edit, .cancel-edit {
    position: relative;
}

.save-edit {
    width: 150px;
    top: 5px !important;
}

.cancel-edit {
    width: 150px;
    top: 5px;
}

.edit-profile-container, .change-password-container {
    width: 1000px;
    margin: 0 auto;
}

.edit-profile-container form .form-group label, .edit-profile-container form .form-group .input-group {
    display: inline;
}

.edit-profile-container form .form-group .input-group {
    width: 550px;
    display: inline-block;
    padding-left: 30px;
}

.edit-profile-container .gender-select {
    padding-left: 120px;;
}

.edit-profile-container .text-center img.cover {
    max-width: 750px;
    max-height: 250px;;
}

.edit-profile-container #profile-picture-preview {
    max-width: 150px;
    max-height: 150px;
}

.counter-fix {
    position: absolute;
    top: 45px;
    left: 80px;
}

.image-circle {
    width: auto;
    height: auto;
}

.change-password-btn, .change-password-btn > input, .edit-profile-btn, .edit-profile-btn > input {
    width: 485px;
}

img.find-people {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

div.navbar {
    height: 55px;
}

ul.find-friends {
    display: inline-block;
}

ul.form-group {
    list-style: none;
    padding: 0;
}

#bs-example-navbar-collapse-1 > form > ul > li > ul {
    width: 195px;
}

.panel {
    margin-bottom: 0;
}

.load-comments {
    display: inline;
    position: relative;
    font-size: 1.1em;
    top: -14px;
    right: -540px;
    border-radius: 0 0 5px 5px;
    background: #e7e7e7;
    padding-left: 5px;
    padding-right: 5px;
}

.load-comments > a {
    color: #292929;
}

.comment-box {
    width: 100%;
    background: #292929;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.add-comment {
    display: block;
    width: 500px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    background: white;
    margin: 15px auto;
}

.add-comment-box {
    text-align: left;
}

.add-post-comment > span {
    left: 220px;
}

.add-post-comment {
    display: none;
}

.show-add-comment {
    color: #a8b0c5;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.button-fix {
    position: absolute;
    margin-top: -55px;
    right: 5px;
}