<div class="change-password-container" ng-controller="changePasswordController">
    <h1>Change password</h1>
    <hr>
    <div class="row">
        <div class="col-md-9 personal-info">
            <!--<div class="alert alert-info alert-dismissable">-->
            <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
            <!--<i class="fa fa-coffee"></i>-->
            <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
            <!--</div>-->
            <form name="changePasswordForm" class="form-horizontal" role="form" novalidate>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Old Password:</label>

                    <div class="col-lg-8">
                        <input class="form-control" name="oldPassword" ng-model="oldPassword" placeholder="Enter Old Password" type="password" ng-pattern="/.{6,}/" ng-required="true">
                        <span>
                            <span style="color:red" ng-show="changePasswordForm.oldPassword.$error.pattern">Password should be at least 6 symbols long.</span>
                            <span style="color:#3276b1" ng-show="changePasswordForm.oldPassword.$error.required">Required.</span>
                            <span style="color:#19b133" ng-show="changePasswordForm.oldPassword.$valid">Valid.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">New Password:</label>

                    <div class="col-lg-8">
                        <input class="form-control" name="newPassword" ng-model="newPassword" placeholder="Enter New Password" type="password" ng-pattern="/.{6,}/" ng-required="true">
                        <span>
                            <span style="color:red" ng-show="changePasswordForm.newPassword.$error.pattern">Password should be at least 6 symbols long.</span>
                            <span style="color:red" ng-show="newPassword == oldPassword && changePasswordForm.oldPassword.$valid">New password should be different from the old one.</span>
                            <span style="color:#3276b1" ng-show="changePasswordForm.newPassword.$error.required">Required.</span>
                            <span style="color:#19b133" ng-show="newPassword != oldPassword && changePasswordForm.newPassword.$valid">Valid.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Repeat Password:</label>

                    <div class="col-lg-8">
                        <input class="form-control" name="confirmPassword" ng-model="confirmPassword" placeholder="Repeat New Password" type="password" ng-required="true"/>
                        <span>
                            <span style="color:red" ng-show="confirmPassword != newPassword && changePasswordForm.confirmPassword.$valid">Password should match above.</span>
                            <span style="color:#3276b1" ng-show="!changePasswordForm.confirmPassword.$valid">Required.</span>
                            <span style="color:#19b133" ng-show="confirmPassword == newPassword && changePasswordForm.confirmPassword.$valid">Valid.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>

                    <div class="col-md-5 change-password-btn">
                        <input type="button" class="btn btn-primary" ng-disabled="!changePasswordForm.$valid || confirmPassword != newPassword || newPassword == oldPassword" value="Change Password" ng-click="changePassword()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
