<div ng-controller="myFriendsController">
    <div ng-if="friends.length <= 0">
        You have no friends, <br/>
        Feel free to go outside and find some, or if you are feeling lucky you can always use the search option at the
        top or go to our <a href="#/find+friends">search page.</a>
    </div>
    <div ng-repeat="friend in friends">
        <a href="#/users/{{friend.username}}">
            <img ng-src="{{friend.profileImageData}}" alt="Profile Picture"/>
            <span class="friend-name">{{friend.name}}</span>
        </a>
    </div>
</div>
<div ng-controller="changePasswordController">
    <input type="password" ng-model="oldPassword"/>
    <input type="password" ng-model="newPassword"/>
    <input type="password" ng-model="confirmPassword"/>

    <div ng-click="changePassword()">Save Changes</div>
</div>