
<div ng-controller="registerController">
    <input ng-model="username" type="text"/>
    <input ng-model="password" type="text"/>
    <input ng-model="confirmPassword" type="text"/>
    <input ng-model="name" type="text"/>
    <input ng-model="email" type="text"/>

    <div ng-click="register()">Register</div>
</div>
<div ng-controller="editProfileController">
    <div>Name: <input type="text" ng-model="name" placeholder="{{name}}"/></div>
    <div>Email: <input type="email" ng-model="email" value="{{email}}"/></div>
    <div>
        <span>Profile Picture:</span>
        <input type="file" id="upload-profile-picture" ng-model="currentUser.profilePicture"
               onchange="angular.element(this).scope().changeProfilePicture()"/>
        <img class="preview" id="profile-picture-preview" ng-src="{{profilePicture}}"/>
    </div>
    <div>
        <span>Cover Picture: </span>
        <input type="file" id="upload-cover-picture" onchange="angular.element(this).scope().changeCoverPicture()"/>
        <img class="preview" id="cover-picture-preview" ng-src="{{coverPicture}}"/>
    </div>
    <div>
        <label for="male">Male:</label>
        <input ng-model="gender" type="radio" name="gender" value="1" id="male"/>
        <label for="female">Female:</label>
        <input ng-model="gender" type="radio" name="gender" value="2" id="female"/>
        <label for="other">Other:</label>
        <input ng-model="gender" type="radio" name="gender" value="3" id="other"/>
    </div>
    <div ng-click="saveChanges()">Change Profile</div>
</div>
<div ng-controller="myFriendsController">
    <div ng-if="friends.length <= 0">
        You have no friends, <br/>
        Feel free to go outside and find some, or if you are feeling lucky you can always use the search option at the
        top or go to our <a href="#/find+friends">search page.</a>
    </div>
    <div ng-repeat="friend in friends">
        <a href="#/users/{{friend.username}}">
            <img ng-src="{{friend.profileImageData}}" alt="Profile Picture"/>
            <span class="friend-name">{{friend.name}}</span>
        </a>
    </div>
</div>
<div ng-controller="changePasswordController">
    <input type="password" ng-model="oldPassword"/>
    <input type="password" ng-model="newPassword"/>
    <input type="password" ng-model="confirmPassword"/>

    <div ng-click="changePassword()">Save Changes</div>
</div>